.liveChat {
  display: flex;
  background-color: tomato;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  align-items: center;
}

#joinRoomBtn {
  width: 3vw;
  height: 2vh;
  margin: 5px;
}

#room_username,
#room_id {
  height: 2vh;
  width: 12vw;
}
